@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dear Leader of Dealer Land</h1>

    @if ((bool)ViewData["Known"])
    {
        <p>Welcome aboard, Captain!</p>

        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="SupportedStates" asp-action="Index">States</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="SupportedMakes" asp-action="Index">Makes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="SupportedModels" asp-action="Index">Models</a>
            </li>
        </ul>
    }
    else
    {
        <p>Unrecognized user.</p>
    }
</div>
